<a href="https://colab.research.google.com/github/dani118089/sample01/blob/main/python_assignment_b6_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [ ]:
# Your code here
n=input("enter a string :")
vowels=('a','e','i','o','u')
def your_function_1():
    count=0
    for i in n:
        if i.lower() in vowels:
            count+=1

    print("number of vowels :" ,count)

your_function_1()

enter a string :danish
number of vowels : 2

### Question 2
Write a function that checks whether a number is prime.

In [ ]:
# Your code here
n=int(input('enter a number'))
def your_function_2():
    if n<=1:
      return False
    for i in range(2,n):
      if n%i==0:
        return False
      return True
your_function_2()

enter a number4

False

### Question 3
Write a function to return the maximum of two numbers.

In [ ]:
# Your code here
n=int(input('enter 1st number: '))
m=int(input('enter 2th number: '))
def your_function_3():
  print(max(n,m))
your_function_3()

enter 1st number2
enter 2th number4
4

### Question 4
Write a function to return the factorial of a number.

In [ ]:
# Your code here
def your_function_4(n):
  if n==0 or n==1:
    return 1
  else:
    return n*your_function_4(n-1)
print(your_function_4(3))

6

### Question 5
Write a function to reverse a string without string indexing.

In [ ]:
# Your code here
def your_function_5():
    n=input("Enter a string: ")
    rev=reversed(n)
    print("Reversed string is:",''.join( rev))
your_function_5()
# def reverse_string(s):
#     reversed_str = ""
#     for ch in s:
#         reversed_str = ch + reversed_str
#     return reversed_str

# n = input("Enter a string: ")
# print("Reversed string is:", reverse_string(n))

Enter a string: dani
Reversed string is: inad

### Question 6
Write a function to check if a string is a palindrome.

In [ ]:
# Your code here
n=input('enter a string:  ')
def your_function_6():
  d=reverse_string(n)
  if d==n:
    print('palindrome')
  else:
    print('not palindrome')
your_function_6()

enter a string:  dani
not palindrome

### Question 7
Write a function to count vowels in a string.

In [ ]:
# Your code here
n=input("enter a string :")
vowels=('a','e','i','o','u')
def your_function_7():
    count=0
    for i in n:
        if i.lower() in vowels:
            count+=1

    print("number of vowels :" ,count)

your_function_7()

enter a string :hello
number of vowels : 2

### Question 8
Write a function that returns the sum of a list.

In [ ]:
# Your code here
def your_function_8():
  n=[1,2,3,4,5]
  print("sum of a list: ",sum(n))
your_function_8()

sum of a list:  15

### Question 9
Write a function to find the smallest number in a list.

In [ ]:
# Your code here
def your_function_9():
  n=[1,2,3,0,5]
  print("smallest number is : ",min(n))
your_function_9()

smallest number is :  0

### Question 10
Write a function to remove duplicates from a list.

In [ ]:
# Your code here
def your_function_10():
    n=[1,5,6,7,2,3,4,2,3]
    a=set(n)
    print("Duplicates removed",list(a))
your_function_10()

Duplicates removed [1, 2, 3, 4, 5, 6, 7]

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [ ]:
# Your code here
def your_function_11():
    pass

[2, 3, 4, 5, 5, 8]

### Question 12
Write a function that returns the length of a string.

In [ ]:
# Your code here
def your_function_12():
    n = [5, 2, 9, 1, 5, 6]
    for i in range(len(n)):
        for j in range(i + 1, len(n)):
            if n[i] > n[j]:
                n[i], n[j] = n[j], n[i]
    print("Sorted list is:", n)
your_function_12()

Sorted list is: [1, 2, 5, 5, 6, 9]

### Question 13
Write a function to count words in a sentence.

In [ ]:

# Your code here
def count_words(sentence):
    words = sentence.split()
    return len(words)
s = "Hello, how are you today?"
print(count_words(s))

5

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
def your_function_14(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
your_function_14(25)

77.0

### Question 15
Write a function to check if a number is palindrome.

In [ ]:
# Your code here
n=input('enter a num:  ')
def your_function_6():
  d=reverse_string(n)
  if d==n:
    print('palindrome')
  else:
    print('not palindrome')
your_function_6()

enter a num:  121
palindrome

### Question 16
Write a function to return all even numbers in a list.

In [ ]:
def your_function_16():
    n=[1,2,3,4,5,6,7,8,5,6,9,10]
    print("Even numbers in the list are:", [i for i in n if i % 2 == 0])
your_function_16()

Even numbers in the list are: [2, 4, 6, 8, 6, 10]

### Question 17
Write a function to return the nth Fibonacci number.

In [ ]:
# Your code here
def your_function_17(n):
    a = 0
    b = 1

    for i in range(n):
        a,b = b, a + b
    print("Fibonacci sequence up to", n, "is:", a)
n = int(input("Enter the number of terms in Fibonacci sequence: "))
your_function_17(n)

Enter the number of terms in Fibonacci sequence: 23
Fibonacci sequence up to 23 is: 28657

### Question 18
Write a function to calculate the average of a list.

In [ ]:
# Your code here
def your_function_18():
  n=[1,2,3,4,5]
  if len(n)==0:
    return 0
  else:
    x=len(n)
  average=sum(n)/x
  print("average of a list: ",average)
your_function_18()

average of a list:  3.0

### Question 19
Write a function that returns a dictionary of character counts.

In [ ]:
# Your code here
def your_function_19():
    pass

### Question 20
Write a function that returns True if all list elements are unique.

In [ ]:
# Your code here
def your_function_20():
  n=['a','c','n','c','s','h','z','d']
  a=set(n)
  b=len(n)
  if a==b:
    print("True")
  else:
    print("False")
your_function_20()

False

### Question 21
Write a function that returns dot product of two list of numbers

In [ ]:
# Your code here
def your_function_21():
  n1=[1,2,3]
  n2=[4,5,6]
  if len(n1)!=len(n2):
    return 0
  else:
    product=0
    for i in range(len(n1)):
      product+=n1[i]*n2[i]
    return product
print(your_function_21())

32

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

In [ ]:
# Your code here
def your_function_22():
    pass

### Question 23
Write a function to return common elements between two lists.

In [ ]:
# Your code here
def common_elements(list1, list2):
    return list(set(list1) & set(list2))
a = [1, 2, 3, 4, 5]
b = [4, 8, 6, 7, 5]
print(common_elements(a, b))

[4, 5]

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

In [ ]:
# Your code here
def your_function_24():
    pass

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

In [ ]:
# Your code here
def your_function_25():
    pass

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [ ]:
# Your code here
def your_function_26():
    pass

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [ ]:
# Your code here
def your_function_27():
    pass

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

In [ ]:
# Your code here
def your_function_28():
    pass

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

In [ ]:
# Your code here
def your_function_29():
    pass

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [ ]:
# Your code here
def your_function_30():
    pass